body {
  margin: 0;
}

body,
p,
ul,
li,
div,
main,
span {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-family: "游ゴシック", YuGothic;
  margin: 0;
  padding: 0;
}

#slot {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0 40px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px 0;
  }

  ul {
    margin: 0 30px;
  }
  li {
    list-style: none;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    padding: 5px;
    &:first-child {
      display: block;
    }
    @media screen and (max-width: 768px) {
      font-size: 30px;
      line-height: 40px;
    }
  }

  span {
    display: block;
    line-height: 50px;
    vertical-align: middle;
  }

  #user {
    min-width: 240px;
    border: 1px solid #000;
  }

  #lang {
    min-width: 240px;
    border: 1px solid #000;
  }
}

#kanpai {
  text-align: center;
  font-size: 80px;
  padding-bottom: 40px;
}
#done {
  margin-top: 50px;
  text-align: center;
  letter-spacing: 0.1em;
  span {
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    margin: 0 10px;
    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
  }
  p {
    margin-bottom: 20px;
  }
  .text {
    font-size: 100px;
  }
  .ruby {
    margin-bottom: 30px;
    display: block;
  }
}

#start {
  text-align: center;
  button {
    border: 2px solid #000;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #000;
    color: #fff;
    outline: none;
    &:hover {
      background-color: #fff;
      color: #000;
      cursor: pointer;
    }
  }
}
[v-cloak] {
  visibility: hidden;
}
