<template>
  <li>
    <label :class="name">{{name}}
      <span v-cloak v-bind:style="{ width: 100 * data/activity +'%' }"></span>
    </label>
    <span v-cloak>{{ data }} / {{ activity }}</span>
  </li>
</template>

<script>
export default {
  name: "graph",
  props :["name","data","activity"],
  data: function () {
    return {
      greeting: 'Hello'
    }
  }
}
</script>

<style>
</style>
