<template>
  <div>
    <h3 :class="name">{{name}}</h3>
    <ul>
      <li class="min">
        <span v-cloak>{{min | percentage}}</span>
        <label>min</label>
      </li>
      <li class="max">
        <span v-cloak>{{max | percentage}}</span>
        <label>max</label>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "minmax",
  props :["name","max","min"],
  data: function () {
    return {
      greeting: 'Hello'
    }
  },
  filters: {
    percentage : function(value){
      if(isNaN(value)){
        return 0
      }
      let n = value *100
      n = n.toFixed(1)
      n = n +"%"
      return n
    }
  }
}
</script>

<style>
</style>
