html
  head
    meta(name="viewport" content="width=device-width")
    title 乾杯スロット
  body
    div#app
      div#wrapper(v-if="ready")
        audio#drum(src="./sound/roll.mp3" loop)
        audio#cymbal(src="./sound/cymbal.mp3")          
        div#slot
          ul#user
            li(v-cloak) {{ selectedUser }}      
          
          span さんが
              
          ul#lang
            li(v-cloak) {{ selectedLang }}   
                    
        p#kanpai 乾杯
          
        div#start
          p
            button(v-if="!slot" v-on:click="slotStart") スタート 
            button(v-if="slot" v-on:click="slotStop") ストップ   
            
        div#done(v-if="done")
          p 
            span {{selectedUser}}さん！{{selectedLang}}
            | 乾杯をお願いします！
            
